*.iml
*.class
*.pyc
*.log
*.lock
.gradle/
.dart_tool/
.packages
build/
.idea/
.android/
.ios/
*.swp
*.swo
local.properties
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.flutter-plugins-dependencies

# Kotlin compiler session（构建产物）
android/.kotlin/
